burgers_exact/solutions/**/*
burgers_exact/solutions_old/
burgers_exact/main.m~

!/burgers_exact/solutions/burgers_exact_K=100_H=320.mat
!/burgers_exact/solutions/burgers_exact_K=1000_H=160.mat
!/burgers_exact/solutions/burgers_exact_K=1000_H=320.mat
!/burgers_exact/solutions/burgers_exact_K=1000_H=640.mat
!/burgers_exact/solutions/burgers_exact_K=1000_H=1280.mat
!/burgers_exact/solutions/burgers_exact_K=1000_H=2560.mat
!/burgers_exact/solutions/burgers_exact_K=1000_H=5120.mat


machine_learning_of_pdes.egg-info/
venv/

tests/

# test scripts
#scripts/run_FTCS/test_run.py
#scripts/run_HopfCole/test_run.py
#scripts/run_Upwind/test_run.py
#scripts/run_PINN/test_run.py

__pycache__/
*.pyc

.DS_Store
.idea
/scripts/run_Upwind_with_PINN/preliminary_results/
/scripts/run_PINN/first_solver_v2/
/scripts/run_PINN/training_samples_convergence/
